.landingpage{
    background-image: url("Images/back.jpg");
    background-size: cover;
    height: 600px
    

}
.Pizza{
    color: black;
    text-align: center;
    padding: bottom 30px; ;
    padding-top:40px ;
}

.about{
    background-image: url(Images/back.jpg);
    text-align: center;
    padding-bottom: 30px;
    padding-top:40px;
    font-family: 'Copse', serif;
    color: white;

}
.menu{
    background-image: url(Images/back12.jpg)

}

.pizzeria{
    padding-top: 40px;
    font-family: 'Courgette', cursive;
    font-size: 40px;
    color: black;
}
.menu{
    padding-top: 15px;
}

.size{
    height: 200px;
    width: 300px;
}
.two{
    margin-top: 30px;
}
.overlay{
    /* display: none */
}
/* .overlay1{
    display:none;
    position: absolute;
    bottom:0px;
    background:white;
    opacity: 0.5;
    width: 90%;
    height: 100%;
} */
.aboutus{
padding: 100px;
}

.h5{
    text-align: center;
    padding-bottom: 12px;
    color: black;
}
.footer{
    padding-top:70px;
    text-align: center;
}